body {
  background: papayawhip; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(papayawhip, brown); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(papayawhip, brown); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(papayawhip, brown); /* For Firefox 3.6 to 15 */
  background: linear-gradient(papayawhip, brown); /* Standard syntax */
  color: #333;
  font-family: Raleway, sans-serif;
  text-rendering: optimizeLegibility;
}
.container {
  display: block;
  width: 50%;
  margin: 1em auto;
}
.poop {
  display: block;
  margin: 1em auto;
}
label span{
  text-align: center;
  letter-spacing: 0;
  display: inline-block;
  position: relative;
  padding-bottom: 1em;
  float: right;
}

.note {
  margin-top: .5em;
}

li * {
  float: left;
}
li {
  clear:both;
  list-style:none;
}
input {
  outline: none;
}
.button {
  display: inline-block;
  position: relative;
  background-color: #0f9d58;
  color: #fff;
  padding: .3em;
  margin-top: .5em;
  font-family: Raleway, sans-serif;
  cursor: pointer;
}

label[for='newTask'], label[for='incomplete'], label[for='complete'] {
  color: darkblue;
  font-size: 15px;
  border-bottom: dotted #1F0812;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  color: #000;
}
input[type="text"]:focus {
  color: #333;
}

label[for='newTask'], label[for='incomplete'], label[for='complete'] {
  display: block;
  margin-bottom: .5em;
}
input#newTask {
  float: left;
  width: 100%;
}
p > button:hover {
  color: #0FC57C;
}

li {
  overflow: hidden;
}
li > label {
  color: #1F0812;
  padding-left: 1em;
}

#complete label {
  text-decoration: line-through;
}
