

header { height: 100vh; }

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #00FF49;
}

header {
    text-align: center;
    color: #fff;
    background: #5CAC73;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

@media(max-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
}

@media(max-width:375px) {
    header .container {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    body {
        overflow-y: scroll;
    }

    #soh {
        width: 42% !important;
    }

    img {
        width: 35% !important;
    }
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #5CAC73;
}

footer {
    overflow: auto;
}